<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="abf82294-6998-4455-a356-8eff5923b394" Publisher="CN=Jiongyu" Version="1.0.0.0" />
  <Properties>
    <DisplayName>puzzleGame.Windows</DisplayName>
    <PublisherDisplayName>Jiongyu</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="puzzleGame.Windows.App">
      <m2:VisualElements DisplayName="puzzleGame.Windows" Square150x150Logo="Assets\Logo.png" Square30x30Logo="Assets\SmallLogo.png" Description="puzzleGame.Windows" ForegroundText="light" BackgroundColor="#464646">
        <m2:SplashScreen Image="Assets\SplashScreen.png" />
      </m2:VisualElements>
      <Extensions>
        <Extension Category="windows.cameraSettings" EntryPoint="puzzleGame.Windows.App" />
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <Capability Name="videosLibrary" />
    <Capability Name="internetClientServer" />
    <Capability Name="musicLibrary" />
    <Capability Name="picturesLibrary" />
    <Capability Name="privateNetworkClientServer" />
    <Capability Name="removableStorage" />
    <Capability Name="sharedUserCertificates" />
    <DeviceCapability Name="webcam" />
    <DeviceCapability Name="location" />
    <DeviceCapability Name="microphone" />
    <DeviceCapability Name="proximity" />
  </Capabilities>
</Package>